<div class="experienceContent">
  <div class="experience exp1">
    <div class="expHead">
      <span class="expOffice"> State University of New York at Binghamton, Student Assistant </span>
      <span class="expLocation"> | Binghamton, United States </span>
      <span class="expDuration"> Oct 2021 - Present </span>
    </div>
    <div class="expBody">
      <ul>
        <li>
          Working as student assistant in Undergraduate Admissions Office
        </li>
        <li>
          Supporting team on SAS and Slate application queries by optimizing the execution time
        </li>
      </ul>

      <div class="expTech">
        <b class="expTechHead"> Technologies: </b>
        <span> SAS </span> &nbsp;
        <span> Slate </span> &nbsp;
        <span> SQL </span>
      </div>
    </div>
  </div> <br>

  <div class="experience exp2">
    <div class="expHead">
      <span class="expOffice"> Siemens Healthineers India LLP, Design & Development Engineer </span>
      <span class="expLocation"> | Bangalore, India </span>
      <span class="expDuration"> Apr 2021 - Jul 2021 </span>
    </div>
    <div class="expBody">
      <ul>
        <li> Participated in all the phases of software development life cycle from
             requirement gathering, documentation, design, development, testing and release
        </li>
        <li>
          Coordinated with vendors to identify and procure appropriate equipment necessary
          for functionality enhancements
        </li>
        <li>
          Conducted unit test cases for the developed functionalities in angular and .NET frameworks
        </li>
        <li>
          Ran the application in test environment using Docker images
        </li>
      </ul>

      <div class="expTech">
        <b class="expTechHead">Technologies: </b>
        <span> Angular </span> &nbsp;
        <span> .NET WebAPI </span> &nbsp;
        <span> C# </span> &nbsp;
        <span> Entity Framework </span> &nbsp;
        <span> Microsoft SQL Server </span> &nbsp;
        <span> Docker </span> &nbsp;
        <span> Azure </span>
      </div>
    </div>
  </div> <br>

  <div class="experience exp3">
    <div class="expHead">
      <span class="expOffice"> Robert Bosch Engineering & Business Solutions Pvt Ltd, Software Engineer </span>
      <span class="expLocation"> | Bangalore, India </span>
      <span class="expDuration"> Jul 2018 - Mar 2021 </span>
    </div>
    <div class="expBody">
      <ul>
        <li> Collaborated with developers and product owners to develop product features
             and enhance the application functionalities
        </li>
        <li>
          Designed and developed application functionalities according to user stories in sprint dashboard
        </li>
        <li>
          Developed full-stack web applications using Angular, .NET and SQL technologies
        </li>
        <li>
          Applied Unit of Work repository patterns for API architecture and dapper framework in .NET
        </li>
      </ul>

      <div class="expTech">
        <b class="expTechHead">Technologies: </b>
        <span> Angular </span> &nbsp;
        <span> .NET WebAPI </span> &nbsp;
        <span> C# </span> &nbsp;
        <span> Dapper Framework </span> &nbsp;
        <span> Microsoft SQL Server </span> &nbsp;
        <span> IIS </span>
      </div>
    </div>
  </div> <br>

  <div class="experience exp4">
    <div class="expHead">
      <span class="expOffice"> Robert Bosch Engineering & Business Solutions Pvt Ltd, Intern </span>
      <span class="expLocation"> | Bangalore, India </span>
      <span class="expDuration"> Jan 2018 - Jul 2081 </span>
    </div>
    <div class="expBody">
      <ul>
        <li>
          Worked on Digital Twin, an IoT concept which included data integration to digital
          replica of physical entity
        </li>
        <li>
          Developed application using Angular and NodeJS for visualizing the data transferring from sensors
        </li>
      </ul>
    </div>
  </div>
</div>
