<div class="aboutImage">
  <!-- <p class="aboutHeading"> About: </p> -->
  <div class="img-area">
    <img src="../../../assets/abhi.png" />
  </div>

  <div>
    <p id="aboutName">Durga Abhist</p>
    <p id="aboutDesignation"> Software Developer</p>
  </div>

  <div class="aboutContent">
    <p>
      Welcome, I am Abhist, a Computer Science graduate student from State University of New York at Binghamton.
      I have completed my bachelors (Bachelor of Technology) from Lovely Professional University, Punjab, India.
      I am passionate about coding, application development (web applications) and exploring latest technologies and best practices.
      I am quite enthusiastic about data, software development and testing.
    </p>
  </div>

  <div class="aboutIcons">
    <a href="https://www.linkedin.com/in/durgaabhistsathuluri/" target="_blank"> <i class="fab fa-linkedin"></i> &nbsp; LinkedIn </a> <br> <br>
    <a href="https://github.com/DurgaAbhist" target="_blank"> <i class="fab fa-github"></i> &nbsp; Git </a>
  </div>
</div>
