<div class="projectsContent">
  <div class="project proj1">
    <div class="projHead">
      <span class="projOffice"> AI Pathway Companion (AIPC), Design & Development Engineer </span>
      <span class="projDuration"> Apr 2021 – Jul 2021 </span>
    </div>

    <div class="projBody">
      <ul>
        <li>
          Developed AIPC Tool as a Full-Stack application to assist doctors in treatment-based decision making by evaluating
          existing patients test reports and various cancer types such as prostate, lung, breast cancers and cardiac etc.
        </li>
        <li>
          Responsibilities include design, development, testing and deploying the application
        </li>
        <li>
          Maintained patients’ data by importing from CSV reader to MS SQL Server
        </li>
      </ul>

      <div class="projTech">
        <b class="projTechHead"> Technologies: </b>
        <span> Angular</span>&nbsp;
        <span> .NET WebAPI</span>&nbsp;
        <span> Entity Framework</span>&nbsp;
        <span> SQL Server</span>&nbsp;
        <span> Docker</span>
      </div>
    </div>
  </div> <br>

  <div class="project proj2">
    <div class="projHead">
      <span class="projOffice"> Automatic Price & Calculation Check, Software Developer </span>
      <span class="projDuration"> Oct 2018 – Mar 2020 </span>
    </div>

    <div class="projBody">
      <ul>
        <li>
          Coded application to import bulk purchase orders and implemented algorithms with varying conditions
          by validating part and prices before importing data
        </li>
        <li>
          Developed application frontend and API using Angular, .NET WebAPI respectively
        </li>
        <li>
          Designed the database schema and architecture for the application using My SQL Server
        </li>
      </ul>

      <div class="projTech">
        <b class="projTechHead"> Technologies: </b>
        <span> Angular</span>&nbsp;
        <span> .NET WebAPI</span>&nbsp;
        <span> Dapper Framework </span>&nbsp;
        <span> SQL Server</span>&nbsp;
        <span> IIS</span>
      </div>
    </div>
  </div> <br>

  <div class="project proj3">
    <div class="projHead">
      <span class="projOffice"> Voice Commands Doodles, Software Developer </span>
      <span class="projDuration"> Jun 2019 – Nov 2019 </span>
    </div>

    <div class="projBody">
      <ul>
        <li>
          Using dashboard to recognize and draw doodles based on voice commands and proved the technique to be less time consuming,
          less complex, and equally effective over manually creating a flow chart using Angular and NodeJS (Express).
        </li>
        <li>
          Extrapolated the idea to sketch the automatic work flows for a project using voice commands
        </li>
      </ul>

      <div class="projTech">
        <b class="projTechHead"> Technologies: </b>
        <span> Angular</span>&nbsp;
        <span> NodeJS</span>&nbsp;
        <span> ExpressJS</span>&nbsp;
        <span> MongoDb</span>
      </div>
    </div>
  </div>
</div>
